<header class="top-header">
  <nav class="navbar">
    <div class="logo">
      <a routerLink="home">
        <figure>
          <img class="logo-img" src="../../../assets/img/valorant-logo.png" alt="Logo">
          <figcaption>
            VALORANT
          </figcaption>
        </figure>
      </a>

    </div>

    <ul>
      <li>
        <a routerLink="home">Início</a>
      </li>

      <li>
        <a routerLink="arsenal">Arsenal</a>
      </li>

      <li>
        <a routerLink="agents">Agentes</a>
      </li>

      <li>
        <a routerLink="home">Mapas</a>
      </li>
    </ul>
  </nav>
</header>
