@import "../../../main-styles.scss";

.agents-container {
  width: 100%;
  height: 500px;
  background-color: $blue;


  .agents-list-container {
    width: 100%;

    display: flex;
    justify-content: center;

    .agents-list {
      list-style: none;
      margin-top: 10px;

      display: flex;

      li {
        color: $white;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 14px;
        margin: 10px;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: $light-red;
        }
      }
    }
  }
}


#nullAgent {
  width: 100%;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $white;
  }
}
