@import "../../../main-styles.scss";

.arsenal-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;

  .title-container {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;

    h1 {
      font-size: $large-font;
      text-align: center;
    }
  }

  .weapons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //background-color: #000;
  }
}



